body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.navbar-container {
    background-color: #4CAF50; /* Warna hijau yang menarik */
    color: #FFD700; /* Warna emas yang menarik */
    padding: 10px 0;
}

.ul-navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.li-navbar {
    margin: 0 20px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.a-navbar:hover {
    color: goldenrod;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

.hero p {
    font-size: 1.5em;
}

.button {
    background-color: goldenrod;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkgoldenrod;
}

.container-content {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.a-content {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.img-content {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.container-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.h1-footer {
    margin: 0;
    font-size: 1.2em;
}
.tentang-saya {
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tentang-saya h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.tentang-saya p {
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tentang-saya img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tentang-saya .button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.tentang-saya .button:hover {
    background-color: #0056b3;
}
